<div>
    {{#each this}}
    <section>
        <div>
            {{user.username}} on {{created_at}}
        </div>
        <div>
            {{comment_text}}
        </div>
    </section>
    {{/each}}
</div>