<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" >
</head>
<body>
    <div>
        <header>
            <h1>
                Tech Blog
            </h1>
            <nav>
                <ul>
                    <li>
                        <a>
                            Home
                        </a>
                    </li>
                    <li>
                        <a>
                            Dashboard
                        </a>
                    </li>
                    {{#if loggedIn}}
                    <li>
                        <a>
                            Login
                        </a>
                    </li>
                    {{else}}
                    <li>
                        <a>
                            Logout
                        </a>
                    </li>
                    {{/if}}
                </ul>
            </nav>
        </header>
        <main> 
            {{{ body }}}
        </main>
        <footer>
            <h2>    Thank you for Visiting  </h2>
        </footer>
    </div>
</body>
</html>