<section>
    <div class="mx-3 mb-3">
        <h1 class="h1 text-center fw-light mt-2"> Create a new post!</h1>
        <form>
            <div class="mb-3">
                <label class="form-label"> Title: </label>
                <input class="form-control" type="text" placeholder="Post title" name="title" />
            </div>
            <div class="mb-3">
                <label class="form-label"> Post Url: </label>
                <input class="form-control" type="text" placeholder="Post Url" name="url" />
            </div>
            <button type="submit" class="btn btn-primary"> Create!</button>
        </form>
    </div>
</section>

{{#if post.length}}
<section>
    <div>
        <h2> Your Previous Posts </h2>
        <ol>
            {{#each posts as |post|}}
            <li>
                {{> post-info post}}
                <a href="/dashboard/edit/{{post.id}}"> Edit Post</a>
            </li>
            {{/each}}
        </ol>
    </div>
</section>
{{/if}}